* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #94697e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 500px;
  height: 300px;
  border-radius: 35px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.front, .back {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  padding: 0px 10px 0px 25px;
  left: 0;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  background-color: #FA759E;
}

.back {
  background-color: #FFD7E5;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.rotateBack {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.rotateFront {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header__front {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__front span {
  font-size: 25px;
  color: #FFD7E5;
}

.header__back {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__back span {
  font-size: 25px;
  color: #FA759E;
}

.main__front {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.front__button {
  color: #FFD7E5;
  background-color: #A1375C;
  border-radius: 15px;
  width: 140px;
  height: 30px;
  text-align: start;
  padding-left: 10px;
  margin-bottom: 20px;
}

.card__text {
  color: #FFD7E5;
}

input {
  padding: 5px;
  width: 140px;
  height: 30px;
  text-align: start;
  padding-left: 10px;
  border-radius: 15px;
}

.main__front input {
  background-color: #FFD7E5;
  color: #FA759E;
}
.main__front input::-webkit-input-placeholder {
  color: #A1375C;
}
.main__front input::-moz-placeholder {
  color: #A1375C;
}
.main__front input:-ms-input-placeholder {
  color: #A1375C;
}
.main__front input::-ms-input-placeholder {
  color: #A1375C;
}
.main__front input::placeholder {
  color: #A1375C;
}

.main__back {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.main__back input {
  background-color: #FA759E;
  color: #FFD7E5;
}
.main__back input::-webkit-input-placeholder {
  color: #FFD7E5;
}
.main__back input::-moz-placeholder {
  color: #FFD7E5;
}
.main__back input:-ms-input-placeholder {
  color: #FFD7E5;
}
.main__back input::-ms-input-placeholder {
  color: #FFD7E5;
}
.main__back input::placeholder {
  color: #FFD7E5;
}

.back__text {
  color: #FA759E;
}

.back__button {
  color: #FFD7E5;
  background-color: #A1375C;
  border-radius: 15px;
  width: 140px;
  height: 30px;
  text-align: start;
  padding-left: 10px;
  margin-bottom: 20px;
}

.front__answer span {
  color: #FFD7E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}